/* The Magic Float Center Code */
.float_center {
    float: right;
  
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
  }
  .float_center > .child {
    position: relative;
    left: 50%;
  }
  
  
  
  /* style */
  body {
    height:100%;
    width:100%;
    background-color: rgb(68, 68, 97);
    background-color:rgb(68, 68, 97) ;
    font-family: arial, sans-serif;
  }
  .clear {
    clear:both;
  }
  
  .title {
    text-align: center;
    color: #ffffff;
    margin: 40px 0 0 0;
      text-transform: uppercase;
  }
  .subtitle {
    text-align: center;
    color: black;
    margin: 0;
  }
  .note {
    text-align: center;
    color: black;
  /*   margin: 0; */
  }
  .container {
    width: 80vw;
    margin: 20px auto 0 auto;
    background-color: rgba(255,255,255,0.5);
    background-color: rgba(255,255,255,0.5);
    
    padding: 20px;
    border-radius: 10px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    float: left;
    list-style-type: none;
    margin: .5em;
  }
  ul a {
    display: block;
    height: 26px;
    line-height: 26px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding: .25em .5em;
    background-color:  rgba(255,255,255,0.5);
      border-radius: 4px;
  }
  